.pick {
  padding-left: 0.3rem !important;
  background-color: white !important;
}
.filter-container {
  background-color: #b8ccff66;
  border-radius: 10px;
}

@media screen and (max-width: 1199px){
  .pick-container{
    width: 8rem !important;
  }
}

