<div class="d-flex w-100 align-items-center justify-content-between filter-container px-4 me-4 my-2 " >
    <div class="w-100">
      <div class="m-0 text-small w-100">FILTRI DI RICERCA</div>
    </div>
    <div class="mx-4 w-100 pt-2 pick-container">
      <div class="my-1">Infrastruttura</div>
      <form class="example-form w-100">
        <mat-form-field class="example-full-width w-100 d-flex align-items-center ">
          
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto" class="pick w-100">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="mx-4 w-100 pt-2 pick-container">
      <div class="my-1">Asset</div>
      <form class="example-form w-100">
        <mat-form-field class="example-full-width w-100 d-flex align-items-center ">
          
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto" class="pick w-100">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    <div class="mx-4 w-100 pt-2 pick-container">
      <div class="my-1">Sensori</div>
      <form class="example-form w-100">
        <mat-form-field class="example-full-width w-100 d-flex align-items-center ">
          
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto" class="pick w-100">
          <mat-autocomplete #auto="matAutocomplete">
            @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>
    </div>
    
    
  </div>
