<div class="card-container mb-3">
    <mat-card  class="example-card d-flex justify-content-center h-100" appearance="outlined">
        <div class=" h-100">
            <canvas [class.hidden]="!data" #chartCanvas class="p-2 card-transition h-100 w-100 justify-content-center"></canvas>
        </div>     
        <div class="h-100">
            <app-card-loader class="h-100" [class.hidden]="data"></app-card-loader>
        </div>
    </mat-card>
</div>
<!-- <div class="card-container" *ngIf="isLoading">
    <mat-card  class="example-card d-flex justify-content-center" appearance="outlined">     
        <app-card-loader ></app-card-loader>
    </mat-card>
</div> -->
