// .example-card {
//     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
//     transition: box-shadow 0.3s ease, transform 0.3s ease;
//     border-radius: 12px;
// }

// .card-container:hover {
//     box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1), 0 10px 18px rgba(0, 0, 0, 0.1);
//     transform: scale(1.014); 
    
// }

// .card-container{
//     transition: box-shadow 0.3s ease, transform 0.3s ease;
//     border-radius: 12px;
// }

.hidden {
    display: none !important;
    transition: none !important;
    animation: none !important;
    opacity: 1 !important;
}

.card-transition{
    transition: none !important;
    animation: none !important;
    opacity: 1 !important;
    width: 100% !important;
    height: auto !important;
}

canvas {
    display: block;
    width: 100% !important;
    height: auto !important;
  }